version: '3.8'

services:
#  auth-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    restart: on-failure
#    image: auth-server:latest
#    container_name: auth-server
#    ports:
#      - "9000:9000"
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mtb
#      - SPRING_DATASOURCE_USERNAME=cshekharv
#      - SPRING_DATASOURCE_PASSWORD=admin
#      - REDIS_HOST=redis
#      - REDIS_PORT=6379
#    depends_on:
#      - postgres
#      - redis
#    networks:
#      - app-network
#
#  booking-service:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    restart: on-failure
#    image: booking-service:latest
#    container_name: booking-service
#    ports:
#      - "8080:8080"
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mtb
#      - SPRING_DATASOURCE_USERNAME=cshekharv
#      - SPRING_DATASOURCE_PASSWORD=admin
#      - KAFKA_BOOTSTRAP_SERVERS=kafka-server:9092
#      - REDIS_HOST=redis
#      - REDIS_PORT=6379
#    depends_on:
#      - postgres
#      - kafka-server
#      - redis
#    networks:
#      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka-server:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-server
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-server:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  kong-database:
    image: postgres:13
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong123
    volumes:
      - kong-db-data:/var/lib/postgresql/data
    networks:
      - app-network

  kong-migration:
    image: kong:latest
    container_name: kong-migration
    command: kong migrations bootstrap
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong123
    depends_on:
      - kong-database
    networks:
      - app-network

  kong-api-gateway:
    image: kong:latest
    container_name: kong-api-gateway
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong123
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
    depends_on:
      - kong-database
      - kong-migration
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: cshekharv
      POSTGRES_PASSWORD: admin
      POSTGRES_MULTIPLE_DATABASES: mtb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres-data:
  kong-db-data:
  redis-data:

networks:
  app-network:
    driver: bridge
