version: '3.8'

services:
#  auth-service:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    restart: on-failure
#    image: chandrashekharv/mtb/auth-service:latest
#    container_name: auth-service
#    ports:
#      - "9000:9000"
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mtb
#      - SPRING_DATASOURCE_USERNAME=kaizen
#      - SPRING_DATASOURCE_PASSWORD=admin
#      - REDIS_HOST=redis
#      - REDIS_PORT=6379
#    depends_on:
#      - postgres
#      - redis
#    networks:
#      - app-network
#
#  booking-service:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    restart: on-failure
#    image: chandrashekharv/mtb/booking-service:latest
#    container_name: booking-service
#    ports:
#      - "8080:8080"
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mtb
#      - SPRING_DATASOURCE_USERNAME=kaizen
#      - SPRING_DATASOURCE_PASSWORD=admin
#      - KAFKA_BOOTSTRAP_SERVERS=kafka-server:9092
#      - REDIS_HOST=redis
#      - REDIS_PORT=6379
#    depends_on:
#      - postgres
#      - kafka-server
#      - redis
#      - auth-service
#    networks:
#      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka-server:
    image: apache/kafka:latest
    container_name: kafka-server
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_DB: mtb
      POSTGRES_USER: kaizen
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U kaizen -d mtb" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres-data:
  redis-data:

networks:
  app-network:
    driver: bridge
